 {{- define "homePage" -}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.NomeSistema}} {{.VersaoSistema}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        {{- template "menu" . -}}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Um integrador de sistemas é uma ferramenta especializada em reunir subsistemas de componentes em um
                    todo e garantir que esses subsistemas funcionem juntos, uma prática conhecida como integração de
                    sistemas. Eles também resolvem problemas de automação.
                </div>            
                {{- template "alert" . -}}   
            </div>         

            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label for="nome">Nome da integração</label>
                        <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp">
                        <small class="form-text text-muted">Nome usado para identificar a integração.</small>
                    </div>
                    <div class="row">                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome_sistema_origem">Nome do sistema de origem dos dados</label>
                                <input type="text" class="form-control" id="nome_sistema_origem" name="nome_sistema_origem">
                                <small class="form-text text-muted">Sistema que irá fazer a requisição.</small>
                            </div>
                            <div class="form-group">
                                <label for="api_sistema_origem">Endereço da API</label>
                                <input type="text" class="form-control" id="api_sistema_origem" name="api_sistema_origem">
                            </div> 
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="metodo_sistema_origem_post" name="metodo_sistema_origem" required value="post">
                                <label class="custom-control-label" for="metodo_sistema_origem_post">Receber dados via POST</label>
                            </div>                            
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="metodo_sistema_origem_get" name="metodo_sistema_origem" required value="get">
                                <label class="custom-control-label" for="metodo_sistema_origem_get">Receber dados via GET</label>
                            </div>                                                        
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome_sistema_destino">Nome do sistema de destino dos dados</label>
                                <input type="text" class="form-control" id="nome_sistema_destino" name="nome_sistema_destino">
                                <small class="form-text text-muted">Sistema que irá receber a requisição.</small>
                            </div>
                            <div class="form-group">
                                <label for="api_sistema_destino">Endereço da API</label>
                                <input type="text" class="form-control" id="api_sistema_destino" name="api_sistema_destino">
                            </div> 
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="metodo_sistema_destino_post" name="metodo_sistema_destino" required value="post">
                                <label class="custom-control-label" for="metodo_sistema_destino_post">Enviar dados via POST</label>
                            </div>                            
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="metodo_sistema_destino_get" name="metodo_sistema_destino" required value="get">
                                <label class="custom-control-label" for="metodo_sistema_destino_get">Enviar dados via GET</label>
                            </div>                                  
                        </div>                
                        <div class="col-md-12">
                            <br />
                            <button type="submit" class="btn btn-primary">Gravar</button>
                        </div> 
                    </div>                   
                </form>
            </div>
        </div>
    </div>
    {{- template "javascript" . -}}
</body>
</html>
{{end}}