{{- define "cadastrarIntegracoesPage" -}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.System.Name}} {{.System.Version}}</title>

    <link rel="stylesheet" href="/public/AdminLTE305/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        {{- template "menu" . -}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Integração</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Cadastrar Integração</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Cadastrar</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" method="post">
                                    {{- template "alert" . -}}  
                                    <div class="card-body">
                                        <div class="row">                    
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="nome">Nome da integração</label>
                                                    <input type="text" class="form-control" id="nome" name="nome" required />
                                                    <small class="form-text text-muted">Nome da integração a ser realizada</small>
                                                </div>                            
                                                <div class="form-group">
                                                    <label for="nome_sistema_origem">Nome do sistema de origem dos dados</label>
                                                    <input type="text" class="form-control" id="nome_sistema_origem" name="nome_sistema_origem" required />
                                                    <small class="form-text text-muted">Sistema que irá fazer a requisição.</small>
                                                </div>     
                                                <div class="form-group">
                                                    <label for="api_sistema_destino">Endereço da API de destino</label>
                                                    <input type="text" class="form-control" id="api_sistema_destino" name="api_sistema_destino" required />
                                                </div>                                                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="endpoint">Endpoint da API</label>
                                                    <input type="text" class="form-control" id="endpoint" name="endpoint" required />
                                                    <small class="form-text text-muted">Exemplo: cadastrar-produto</small>
                                                </div>                                                        
                                                <div class="form-group">
                                                    <label for="nome_sistema_destino">Nome do sistema de destino dos dados</label>
                                                    <input type="text" class="form-control" id="nome_sistema_destino" name="nome_sistema_destino" required />
                                                    <small class="form-text text-muted">Sistema que irá receber a requisição.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="api_sistema_destino">Método envio do Sistema de Destino</label>   
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="metodo_sistema_destino_post" name="metodo_sistema_destino" required value="POST" />
                                                        <label class="custom-control-label" for="metodo_sistema_destino_post">POST</label>
                                                    </div>                            
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="metodo_sistema_destino_post_json" name="metodo_sistema_destino" required value="POST-JSON" />
                                                        <label class="custom-control-label" for="metodo_sistema_destino_post_json">POST-JSON</label>
                                                    </div>                                                    
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="metodo_sistema_destino_get" name="metodo_sistema_destino" required value="GET" />
                                                        <label class="custom-control-label" for="metodo_sistema_destino_get">GET</label>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->

                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        {{- template "footer" . -}}
    </div>
    {{- template "javascript" . -}}
</body>

</html>
{{end}}