{{- define "listarIntegracoesPage" -}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.NomeSistema}} {{.VersaoSistema}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <div class="container bg-white">
        {{- template "menu" . -}}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Um integrador de sistemas é uma ferramenta especializada em reunir subsistemas de componentes em um
                    todo e garantir que esses subsistemas funcionem juntos, uma prática conhecida como integração de
                    sistemas. Eles também resolvem problemas de automação.
                </div>
                {{- template "alert" . -}}
            </div>

            <div class="col-md-12">
                <h4>Integrações</h4>
                
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th>#</th>
                            <th>Nome</th>
                            <th>Sistema origem</th>
                            <th>Sistema destino</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .ListaIntegracoes -}}
                        <tr {{if .Status }} class="table-primary" {{else}} class="table-warning" {{end}}>
                            <td>{{.ID}}</td>
                            <td>{{.Nome}}</td>
                            <td>{{.NomeSistemaOrigem}}</td>
                            <td>{{.NomeSistemaDestino}}</td>
                            <td>{{if .Status }} Ativo {{else}} Inativo {{end}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    {{- template "integracaoTabelaAcao" . -}}
                                </div>
                            </td>
                        </tr>
                        {{- template "modalExclusao" . -}}
                        {{- end -}}
                    </tbody>
                </table>                
            </div>
        </div>

        {{- template "footer" . -}}
    </div>
    {{- template "javascript" . -}}
</body>

</html>
{{end}}