{{- define "listarLogPage" -}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.NomeSistema}} {{.VersaoSistema}}</title>

    <link rel="stylesheet" href="/public/AdminLTE305/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        {{- template "menu" . -}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Logs da integração: <strong>{{.Integracao.Nome}}</strong></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Editar Parâmetro</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Listagem</h3>
    
                                        <div class="card-tools">
                                            <span class="float-right">Esta tela irá atualizar em <span id="contador">60</span> segundos</span>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0" style="height: 600px;">
                                       
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Endereço da API de Destino</th>
                                                    <th></th
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{- range .ListaLogs -}}
                                                <tr>
                                                    <td>{{.ID}}</td>
                                                    <td>{{.APIDestino}}</td>
                                                    <td>
                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalParametro{{.ID}}" onclick="stopContador()">Parâmetro</button>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalRetorno{{.ID}}" onclick="stopContador()">Retorno</button>                                
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- Modal -->
                                                <div class="modal fade" id="modalParametro{{.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Parâmetro</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="startContador()">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">                                
                                                            <code>
                                                                {{.Parametro}}
                                                            </code>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="startContador()">Fechar</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>                    
                                                <!-- Modal -->
                                                <div class="modal fade" id="modalRetorno{{.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Resposta</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="startContador()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <code>
                                                                {{.Resposta}}
                                                            </code>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="startContador()">Fechar</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>                          
                                                {{- end -}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <a href="/integracoes" class="btn btn-default float-right">Voltar</a>
                                    </div>                                    
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        {{- template "footer" . -}}
    </div>
    {{- template "javascript" . -}}
    <script>
        var funcaoContador

        function startContador() {
            var contador = 60;
            funcaoContador = setInterval(function(){
                contador--;

                if(contador == 0) {
                    document.location.href = window.location.href;
                }
                $("#contador").html(contador);
            }, 1000)
        }

        function stopContador() {
            clearInterval(funcaoContador);
        }

        startContador();
    </script>    
</body>

</html>
{{end}}