{{define "javascript"}}
<script src="/public/AdminLTE305/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/AdminLTE305/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="/public/AdminLTE305/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/public/AdminLTE305/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/public/AdminLTE305/dist/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/public/AdminLTE305/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/public/AdminLTE305/plugins/raphael/raphael.min.js"></script>
<script src="/public/AdminLTE305/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/public/AdminLTE305/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="/public/AdminLTE305/plugins/chart.js/Chart.min.js"></script>

<!-- PAGE SCRIPTS -->
<script src="/public/AdminLTE305/dist/js/pages/dashboard2.js"></script>
{{end}}