{{- define "listarParametroPage" -}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.System.Name}} {{.System.Version}}</title>

    <link rel="stylesheet" href="/public/AdminLTE305/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/public/AdminLTE305/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        {{- template "menu" . -}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Parâmetro</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Gerir Parâmetro</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Adicionar parâmetro</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" method="post" action="/parametros/integracao/{{.Integracao.ID}}">
                                    <input type="hidden" class="form-control" id="integracao_id" name="integracao_id" required value="{{.Integracao.ID}}">
                                    {{- template "alert" . -}}
                                    <div class="card-body">
                                        <div class="row">                    
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="nome_parametro_entrada">Parâmetro do sistema: <strong>{{.Integracao.NomeSistemaOrigem}}</strong></label>
                                                    <input type="text" class="form-control" id="nome_parametro_entrada" name="nome_parametro_entrada" required />
                                                    <small class="form-text text-muted">Sistema que irá fornecer o parâmetro.</small>
                                                </div>                                   
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="nome_parametro_saida">Parâmetro do sistema: <strong>{{.Integracao.NomeSistemaDestino}}</strong></label>
                                                    <input type="text" class="form-control" id="nome_parametro_saida" name="nome_parametro_saida" required />
                                                    <small class="form-text text-muted">Sistema que irá receber o parâmetro.</small>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Adicionar</button>
                                        <a href="/integracoes" class="btn btn-default float-right">Voltar</a>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Listagem de parâmetros</h3>
    
                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right"
                                                    placeholder="Search">
    
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i
                                                            class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                       
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Parâmetro do sistema: {{.Integracao.NomeSistemaOrigem}}</th>
                                                    <th>Parâmetro do sistema: {{.Integracao.NomeSistemaDestino}}</th> 
                                                    <th></th>                                           
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{- range .ListaParametros -}}
                                                <tr>
                                                    <td>{{.ID}}</td>                                            
                                                    <td>{{.NomeParametroEntrada}}</td>
                                                    <td>{{.NomeParametroSaida}}</td>  
                                                    <td>
                                                        <div class="btn-group-sm" role="group">
                                                            <button id="btnGroupDrop1" type="button"
                                                                class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                Ações
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                <a class="dropdown-item" href="/parametro/editar/{{.ID}}"
                                                                    title="Editar parâmetro #{{.ID}}">
                                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen"
                                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd"
                                                                            d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
                                                                        <path fill-rule="evenodd"
                                                                            d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
                                                                        <path
                                                                            d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
                                                                    </svg>
                                                                    Editar parâmetro
                                                                </a>
                                                                <a class="dropdown-item" href="/parametro/excluir/{{.ID}}"
                                                                    title="Excluir parâmetro #{{.ID}}" data-toggle="modal"
                                                                    data-target="#exclusaoModal{{.ID}}">
                                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                        class="bi bi-dash-circle-fill" fill="currentColor"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd"
                                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z" />
                                                                    </svg>
                                                                    Excluir parâmetro
                                                                </a>                
                                                            </div>
                                                        </div>                                                        
                                                    </td>                                          
                                                </tr>    
                                                {{- template "modalExclusaoParametro" . -}}
                                                {{- end -}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <a href="/integracoes" class="btn btn-default float-right">Voltar</a>
                                    </div>                                    
                                </div>                                 
                                <!-- /.card -->
                            </div>
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        {{- template "footer" . -}}
    </div>
    {{- template "javascript" . -}}
</body>

</html>
{{end}}